@font-face
{
    font-family: "EurostileT";
    src: url("#{resource['fonts/EUROSTILE_REGULAR_FS.TTF']}") format('truetype');
}

html
{
	font-family: "EurostileT", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body
{
    height: 100%;
    width: 100%;
    min-width: 1000px;
    padding: 0;
    margin: 0;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

#form
{
    height: 100%;
    width: 100%;
}

.button
{
	background: green;
	border: 2px solid red;
	height: 50px;
	width: 50px;
}

.button:hover
{
	background: blue;
	border: 2px solid red;
	height: 50px;
	width: 50px;
}

#header
{
    height: 110px;
    width: 100%;
    min-width: 1000px;
    position: fixed;
    background-color: azure;
}

#menu
{
    text-align: center;
    background-color: lightblue;
}

#menu_logo
{
    min-width: 165px;
    width: 15%;
}

#menu_search
{
    text-align: center;
    max-width: 55%;
}

.search {
	width: 95%;
/* 	border: 2px solid red; */
 	background: url("#{resource['images/search.png']}") no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    color: #bebebe;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#username
{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.menu_shortcuts
{
    /*min-width: ???px*/
    text-align: center;
    width: 12%;
}

#page
{
    height: 1000px;
    min-height: 90%;
    background-color: white;
    padding: 20px;
}

#pagecontent
{
    padding-top: 110px;
    text-align: center;
}

#footer
{
    height: 10%;
    font-size: small;
    text-align: center;
    background-color: lightblue;
}

/* OTHERS */

.green_bold
{
    font-weight: bold;
    color: #6ecc59;
}

.blue_bold_italic
{
    color: #0079db;
    font-style: italic;
    font-weight: bold;
}

.blue_underline
{
    color: #0079db;
    text-decoration: underline;
}