<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- Changer cette valeur à "Production" lors du déploiement final de l'application -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/manage-beans.xml</param-value>
	</context-param>

	<!-- page d'accueil -->
	<welcome-file-list>
		<welcome-file>home.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Error pages -->
	<error-page>
		<location>/global/error.xhtml</location>
	</error-page>
	<!-- Login filter -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.stlagora.filters.LoginFilter</filter-class>
	</filter>
	<!-- Set the login filter to secure all the pages in the /secured/* path 
		of the application -->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/profile/*</url-pattern>
		<url-pattern>/purchase/*</url-pattern>
		<url-pattern>/sell/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SellFilter</filter-name>
		<filter-class>com.stlagora.filters.SellFilter</filter-class>
	</filter>
<!-- 	<filter>
		<filter-name>ProductCardFilter</filter-name>
		<filter-class>com.stlagora.filters.ProductCardFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProductCardFilter</filter-name>
		<url-pattern>/global/productCard.xhtml</url-pattern>
	</filter-mapping> -->
	<!-- Set the login filter to secure all the pages in the /secured/* path 
		of the application -->
	<filter-mapping>
		<filter-name>SellFilter</filter-name>
		<url-pattern>/sell/sell.xhtml</url-pattern>
	</filter-mapping>
<persistence-context-ref>
    <persistence-context-ref-name>STLAGORA_PU</persistence-context-ref-name>
    <persistence-unit-name>STLAGORA_PU</persistence-unit-name>
</persistence-context-ref>

	<!-- Déclaration du contrôleur central de JSF : la FacesServlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Mapping : association des requêtes dont le fichier porte l'extension 
		.xhtml à la FacesServlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>